## Context manager
- Managing resources is an important aspect while coding in Python. Without properly releasing the external resources such as files and connections, one might run into a memory leak issue.
- And even there is a closing or disconnecting call at the end of the code, they may not be called when an error or an exception occurs.
- In Python, "with" and "try-finally" statements prevent memory leaks. And with statement can provide a neat and reusable way of handling resources using context managers.

# Examples
# with
with open('info.txt', 'w') as file:
    file.write('Hello')
    
# try-finally
file = open('info.txt', 'w')
try: 
    file.write('Hello')
finally:
    file.close()

#### Building Context Manager
- with statement uses context managers to perform opening and exiting actions.
- Many libraries and built-in functions support context management, such as open().

## File Access
- Variables, lists, tuples, dictionaries, sets, arrays, pandas Series and pandas DataFrames offer only temporary data storage.
- Popular file formats: Object Notation) and CSV (comma-separated values)
- Python views a text file as a sequence of characters and a binary file (for images, videos, and more) as a sequence of bytes.
- Python creates a file object for each file-opening
- When a Python program begins execution, it creates three standard file objects: sys.stdin, sys.stdout, sys.stderr

#### Writing to a Text File; Introducing the `with` Statement

In [ ]:
with open('accounts.txt', mode='w') as accounts:
    accounts.write('100 Jones 24.98\n')
    accounts.write('200 Doe 345.67\n')
    accounts.write('300 White 0.00\n')
    accounts.write('400 Stone -42.16\n')
    accounts.write('500 Rich 224.62\n')

In [ ]:
# macOS/Linux Users: View file contents
!cat accounts.txt

In [ ]:
# Windows Users: View file contents
!more accounts.txt

#### The `with` Statement
- Resources, such as files, network connections, database connections and more, resources should be released  as soon as they’re no longer needed.
- Python’s with statement: 
##### acquires a resource (in this case, the file object for accounts.txt) and assigns its corresponding object to a variable (accounts in this example)
##### allows the application to use the resource via that variable
##### calls the resource object’s close method to release the resource when program control reaches the end of the with statement’s suite

#### Built-In Function `open` 
- The built-in open function opens a file and associates it with a file object.
- The mode argument specifies the file-open mode:
##### - 'r' 모드: 읽기
##### - 'w' 모드: 쓰기
##### - 'a' 모드: 뒤에 추가
##### - 'x' 모드: Create를 의미하며 파일을 생성
##### - 'b' 모드: 이진 파일을 읽기

#### Reading Data from a Text File

In [11]:
with open('accounts.txt', mode='r') as accounts:
    print(type(accounts))
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    for record in accounts:
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

<class '_io.TextIOWrapper'>
Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       Williams        0.00
400       Stone         -42.16
500       Rich          224.62

* Reads one line at a time from the file and returns it as a string.
* For each record (that is, line) in the file, string method split returns tokens in the line as a list
* Account and Name columns left aligned and the Balance column right aligned

#### File Method `readlines`
 - readlines method returns each line as a string in a list of strings
##### - readline(): 파일의 한 줄을 가져와 문자열로 반환, 파일 포인터는 그 다음줄로 이동
##### - readlines(): 파일 내용 전체를 가져와 리스트로 반환
##### - read(): 파일 내용 전체를 가져와 문자열로 반환

In [3]:
with open('accounts.txt', mode='r') as accounts:
    aline = accounts.readline()
    print(aline)
    print(type(aline))
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    account, name, balance = aline.split()
    print(f'{account:<10}{name:<10}{balance:>10}')

<class 'str'>
Account   Name         Balance
100       Jones          24.98
100 Jones 24.98

In [4]:
with open('accounts.txt', mode='r') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    lines = accounts.readlines()
    print(type(lines))
    print(lines)

Account   Name         Balance
<class 'list'>
['100 Jones 24.98\n', '200 Doe 345.67\n', '300 Williams 0.00\n', '400 Stone -42.16\n', '500 Rich 224.62\n']

In [ ]:
with open('accounts.txt', mode='r') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    line = accounts.read()
    print(type(line))
    print(line)

#### Seeking to a Specific File Position

In [7]:
with open('accounts.txt', mode='r') as accounts:
    accounts.seek(5)
    f = accounts.read()
    print(type(f))
    print(f)

<class 'str'>
ones 24.98
200 Doe 345.67
300 Williams 0.00
400 Stone -42.16
500 Rich 224.62

## Updating Text Files

#### Updating `accounts.txt`

In [13]:
accounts = open('accounts.txt', 'r')

In [14]:
temp_file = open('temp_file.txt', 'w')

In [15]:
with accounts, temp_file:
    for record in accounts:
        account, name, balance = record.split()
        if account != '300':
            temp_file.write(record)
        else:
            new_record = ' '.join([account, 'Williams', balance])
            temp_file.write(new_record + '\n')

In [16]:
with open('temp_file.txt', mode='r') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    for record in accounts:
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       Williams        0.00
400       Stone         -42.16
500       Rich          224.62

### `os` Module File Processing Functions

In [17]:
import os

In [ ]:
os.remove('accounts.txt')

In [ ]:
os.rename('temp_file.txt', 'accounts.txt')

In [ ]:
# macOS/Linux Users: View file contents
!cat accounts.txt

In [ ]:
# Windows Users: View file contents
!more accounts.txt

## Serialization with JSON 
- JSON (JavaScript Object Notation) is a text-based, human-and-computer-readable, data-interchange format used to represent objects (such as dictionaries, lists and more) as collections of name–value pairs.
- JSON has become the preferred data format for transmitting objects across platforms.

#### JSON Data Format
- JSON object: {"account": 100, "name": "Jones", "balance": 24.98}
- JSON also supports arrays: [100, 200, 300]

#### Python Standard Library Module `json` 
- The json module enables you to convert objects to JSON (JavaScript Object Notation)
text format

In [18]:
accounts_dict = {'accounts': [
    {'account': 100, 'name': 'Jones', 'balance': 24.98},
    {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

#### Serializing an Object to JSON

In [19]:
import json

In [20]:
with open('accounts.json', 'w') as accounts:
    json.dump(accounts_dict, accounts)

* the json module’s dump function serialize the dictionary accounts_dict into the file.

In [21]:
with open('accounts.json', mode='r') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    line = accounts.read()
    print(type(line))
    print(line)

Account   Name         Balance
<class 'str'>
{"accounts": [{"account": 100, "name": "Jones", "balance": 24.98}, {"account": 200, "name": "Doe", "balance": 345.67}]}

* Note that JSON delimits strings with double-quote characters.

#### Deserializing the JSON Text
- The json module’s load function reads the entire JSON contents of its file object argument
and converts the JSON into a Python object.

In [22]:
with open('accounts.json', 'r') as accounts:
    accounts_json = json.load(accounts)

In [23]:
type(accounts_json)

dict

In [24]:
accounts_json

{'accounts': [{'account': 100, 'name': 'Jones', 'balance': 24.98},
  {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

In [25]:
accounts_json['accounts']

[{'account': 100, 'name': 'Jones', 'balance': 24.98},
 {'account': 200, 'name': 'Doe', 'balance': 345.67}]

In [ ]:
accounts_json['accounts'][0]

In [ ]:
accounts_json['accounts'][1]

#### Displaying the JSON Text

In [26]:
with open('accounts.json', 'r') as accounts:
    print(json.dumps(json.load(accounts), indent=4))

{
    "accounts": [
        {
            "account": 100,
            "name": "Jones",
            "balance": 24.98
        },
        {
            "account": 200,
            "name": "Doe",
            "balance": 345.67
        }
    ]
}

* The json module’s dumps function (dumps is short for “dump string”) returns a Python string
  representation of an object in JSON format.